body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ebeaea;
}
.prvni_sekce{
    display: flex;
    background-color: #0792f5;
    width: 100%;
    text-align: center;
    flex-direction: column;
}
.druha_sekce{
    display: flex;
    background-color: #e9093d;
    width: 100%;
    text-align: center;
    align-items: center; 
    flex-direction: column;
    
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #dc1010;
    border-radius: 5px;
    background-color: #ea0bb2;

}

button {
    text-align: center;
    padding: 0.5em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin: auto;
    display: flexi;
    margin-top: 25px;
    font-size: 40px;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: sticky;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 0;
}
